
@*@{
    ViewData["Title"] = "CovidHighRisk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
    <!-- ! css Begin-->
    <link rel="stylesheet" type="text/css" href="../css/dashboard-app/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard-app/screen.css">
    <!-- ! css ends -->
    <!-- ! Custom fonts Begin -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- ! Custom fonts end -->
    <!-- FontAwsome -->
    <script src="https://kit.fontawesome.com/5336317b7a.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="dashboardScreenWrapper d-flex">

        <div class="contentPart w-100 mainequalheight">
            <div class="header d-flex justify-content-between align-items-center flex-wrap flex-md-nowrap">

                <div class="backtoMenu">
                    <a href="/Home/Dashboard" class="text-blue"><h5>Back to Home</h5></a>
                </div>

                <div class="d-flex">
                    <div class="calenderNotification">
                        <a href="#">
                            <i class="far fa-bell"></i>
                            <span class="notificationBtn">10</span>
                        </a>
                    </div>
                    <div class="userProfileicon">
                        <div class="userIcon coverbg" style="background-image: url('~/images/user-img.png')"></div>
                        <div class="userstatus"></div>
                    </div>
                </div>
            </div>

            <div class="appContentMain">
                <div class="row">
                    <div class="col-12">
                        <div class="customCard bg-custom-danger">
                            <div class="title">
                                <h3 class="text-danger">Covid Risk: High</h3>
                            </div>
                            <div class="covidResultSuggetionBlock">
                                <div>
                                    <h5>Precautions:</h5>
                                    <ul class="pl-3">
                                        <li>Stay home except to get medical care</li>
                                        <li>Get tested</li>
                                        <li>Monitor your symptoms</li>
                                        <li>Cover your coughs and sneezes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ! Script Begin -->
       <script src="../js/jquery-2.2.4.min.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/owl.carousel.min.js"></script> 
      <script src="../js/function.js"></script>
      <script src="../js/global.js"></script>
      <!-- ! Script ends -->

    <script type="text/javascript">

    </script>
</body>
</html>